html {
	position: relative;
}

body {
	background: radial-gradient(circle, rgba(241, 89, 34, 0.1) 0.2em, rgba(255, 255, 255, 0) 0.3em) 0 -.5rem;
	background-size: 6rem 6rem;
	background-color: #f7f5f5;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	height: 100vh;
}

article {
	position: absolute;
	height: 200px;
	left: 50%;
	top: 50%;
	transform: translateY(-125px) translate(-50%, -50%);
	margin-bottom: 400px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 250px;
	background-color: #f2f2f2;
}

.content {
	padding-top: 2.5rem;
	text-align: left;
	width: 100%;
	display: flex;
}

p {
	margin-top: 1rem;
	text-align: center;
	color: #f15922;
	font-size: 23px;
	font-weight: 600;
	letter-spacing: .1rem;
}

.logo-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn-orange {
	color: #fff;
	background-color: #f15922;
	border-color: #f15922;
	transition: none;
}

.btn-lg {
	width: 8.3rem;
	height: 3rem;
	font-size: 15px;
}

.btn-fr {
	margin-left: .5rem;
	margin-bottom: .5rem;
	height: 3rem;
	width: 3rem;
	font-size: 15px;
}

.mail img {
	margin: 0 0 0 -.25rem;
}

.tele img {
	margin: 0 0 0 -.2rem;
}

.git img {
	margin: 0 0 0 -.09rem;
}

.medi img {
	margin: 0 0 0 -.04rem;
}

.btn-orange.focus,
.btn-orange:focus {
	box-shadow: 0 0 0 .2rem rgba(241, 89, 34, .5)
}

.button-container {
	margin-top: 5%;
	text-align: center;
}

.input-lg {
	height: 3rem;
	transition: none;
}

.row {
	max-width: 90%;
	margin: 0 auto;
}

.thed {
	display: inline-block;
	float: left;
	margin-right: 1rem;

}

.form-control {
	border: 3px solid #F1591D;
	border-radius: .3rem;
	transition: none;
}

.form-control.focus,
.form-control:focus {
	box-shadow: 0 0 0 .2rem rgba(241, 89, 34, .5);
	border-color: #f15922;
}

@media (max-width: 500px) {
	article {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-125px) translate(-50%, -50%);
		margin-bottom: 400px;
    	height: 1vh;
	}
	footer {
		position: absolute;
		bottom: -13rem;
		height: 200px;
	}
}

@media (max-height: 450px) {
	footer {
		position: absolute;
		bottom: -13rem;
		height: 200px;
	}
	article {
		position: absolute;
    	height: 1vh;
		top: 45%;
	}
}